# Database credentials
DB_PASSWORD=password
DB_USER=postgres
DB_NAME=jiten
DB_HOST=postgres

# API configuration
STATIC_FILES_PATH=/app/uploads
USE_BUNNYCDN=false
BUNNYCDN_SECRET=
BUNNYCDN_STORAGE_ZONE=
CDN_BASE_URL=
DICTIONARY_PATH=/path/to/system_full.dic
JIMAKU_API_KEY=
TMDB_API_KEY=
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
DOTNET_ENVIRONMENT=Development
STORE_RAW_TEXT=false

# Web configuration
API_BASE_URL=http://localhost:8080/api
UMAMI_ANALYTICS_WEBSITE_ID=
UMAMI_ANALYTICS_HOST_URL=http://localhost:3005

# Umami analytics service configuration
UMAMI_APP_SECRET=replace-me-with-a-random-string
UMAMI_HASH_SALT=some-random-string
UMAMI_TRACKER_SCRIPT_NAME=umm.js

# Redis configuration
REDIS_PORT=6379

# JWT configuration
JWT_SECRET=VERY_STRONG_KEY_AT_LEAST_32_CHARS
JWT_ISSUER=https://api.jiten.moe
JWT_AUDIENCE=https://jiten.moe
JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRATION_DAYS=30

# Google oAuth configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_RECAPTCHA_SECRET=
GOOGLE_RECAPTCHA_V2_SITE_KEY=

# AWS SES configuration
EMAIL_SMTP_HOST=smtp.eu.mailgun.org
EMAIL_SMTP_PORT=587
EMAIL_SMTP_USER=
EMAIL_SMTP_PASSWORD=
EMAIL_FROM=noreply@example.com