:root{
    background-color: var(--p-neutral-50);
}

:root[class="dark-mode"]{
    background-color: black;
}

.p-card {
    background-color: #fff;
    border: 1px solid #e6e6e6;
}

a {
    @apply text-blue-500 hover:underline
}
