@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';

@custom-variant dark (&:where(.dark-mode, .dark-mode *));

:root {
    background-color: var(--p-neutral-50);
    font-family: "Noto Sans JP", sans-serif;
}

:root.dark-mode {
    background-color: black;
}

.p-card {
    border: 1px solid #e6e6e6;
}

a:not(.p-button) {
    @apply text-blue-500 hover:underline
}

.dark-mode a:not(.p-button) {
    @apply text-blue-300 hover:underline
}

:root {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

:root.loaded {
    visibility: visible;
    opacity: 1;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.1s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.p-inputnumber {
    inset-inline-end: auto !important;
}

.p-inputnumber-stacked {
    inset-inline-end: auto !important;
}
